Package: mycroft-wifi-setup
Version: %%VERSION%%
Section: base
Priority: optional
Architecture: %%ARCH%%
Depends: %%DEPENDS%%
Maintainer: Matthew Scholefield <matthew.scholefield@mycroft.ai>
Description: mycroft-wifi-setup and mycroft-admin-service
